.offers {
  background: $primary;
  color: $white;

  &__title {
    padding-top: 3rem;
    line-height: 1.2;
    font-size: 2rem;
    text-align: center;
    @media #{$mq-620-up} {
      font-size: 1.25rem;
      text-align: left;
      padding-top: 3rem;
      margin-bottom: 3rem;
    }

    @media #{$mq-1000-up} {
      padding-top: 3.125rem;
      margin-bottom: 1rem;
    }

    br {
      @media #{$mq-620-up} {
        display: none;
      }
    }
  }

  &__grid-parent {
    column-gap: 1.25rem;
    row-gap: 1.25rem;
    padding-bottom: 2rem;

    @media #{$mq-620-up} {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      padding-bottom: 4rem;
    }

    @media #{$mq-1000-up} {
      display: grid;
      padding: 1.25rem 0 4rem 0;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
    }
  }

  &__item {
    color: $dkBlue;
    background: $white;

    @media #{$mq-1000-up} {
      grid-row: 1;
    }
    @media #{$mq-620-up} {
      margin-top: 0 !important;
    }
    @media #{$mq-620-down} {
      &:not(:first-child) {
        margin-top: 2em;
      }
      &:first-child {
        margin-top: 3em;
      }
    }
  }
  &__item-bottom {
    color: $dkBlue;
    background: $white;
    padding-bottom: 1.25rem;
    p,
    a {
      padding-left: 1.875rem;
    }
  }

  &__image {
    position: relative;
    display: inline-block;
    width: 100%;
    img {
      width: 100%;
    }

    .img-top {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
    }

    &:hover .img-top {
      display: inline;
    }
  }

  &__city {
    padding-top: 0.9375rem;
    font-weight: 700;
    font-size: 1.5rem;
  }
  &__price {
    font-size: 1.25rem;
    padding-bottom: 1.25rem;
  }

  &__book-now {
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem;
    color: $primary;
    padding-bottom: 1.75rem;
    &:hover {
      color: $accent;
      i {
        border-color: $accent;
      }
    }
    i {
      padding: 5px;
    }
  }
}

.ribbon {
  height: 30px;
  width: 85%;
  position: absolute;
  top: 15px;
  left: -10px;
  background: #ffed28;
  display: flex;

  span {
    padding-left: 0.875rem;
    align-items: center;
    color: $primary;
    font-size: 1.125rem;
    font-weight: 900;
    align-self: center;

    @media #{$mq-620-down} {
      font-size: 1rem;
    }
  }

  @media #{$mq-620-down} {
    height: 40px;
  }
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  top: 45px;
  left: -10px;
  border-top: 10px solid #b3a61d;
  border-left: 10px solid transparent;

  @media #{$mq-620-down} {
    top: 62px;
  }
}
